extends layout

block body
    body.index
        
block content
    .jumbotron.main-slider
        .container-fluid
            .row
                .col-sm-12
                    h1.title.animated.pulse No Mas Bullying
                    a.btn.btn--m-t(href="#contacto", role="button") CONTACT US!
                    
    .section-row.drop-shadow
        .container
            .row
                h1.title
                    | Articulos
                h5.subtitle Notas de la institución
                
                .row.lista-articulo
                    .col-xs-3.item-articulo
                        h3 Como tratar a tus compañeros
                        p Esta es la descripcion de un taller dado por la institucion en pos de educar a los apdres y docentes y gente que necesite ayuda.
                    .col-xs-3.item-articulo
                        h3 ¿Que siente el otro?
                        p Esta es la descripcion de un taller dado por la institucion en pos de educar a los apdres y docentes y gente que necesite ayuda.
                    .col-xs-3.item-articulo
                        h3 Perdonar no es olvidar
                        p Esta es la descripcion de un taller dado por la institucion en pos de educar a los apdres y docentes y gente que necesite ayuda.
                    .col-xs-3.item-articulo
                        h3 Sigo tirando titulos flasheros
                        p Esta es la descripcion de un taller dado por la institucion en pos de educar a los apdres y docentes y gente que necesite ayuda.
            
    
    .section-row
        .container
            .row
                .col-xs-12
                    h1.title
                        | Talleres
                    h5.subtitle Talleres dados por la institución
                    
                    .row.lista-taller
                        .col-xs-3.item-taller
                            h3 Taller pedagogico
                            p Esta es la descripcion de un taller dado por la institucion en pos de educar a los apdres y docentes y gente que necesite ayuda.
                        .col-xs-3.item-taller
                            h3 Taller pedagogico
                            p Esta es la descripcion de un taller dado por la institucion en pos de educar a los apdres y docentes y gente que necesite ayuda.
                        .col-xs-3.item-taller
                            h3 Taller pedagogico
                            p Esta es la descripcion de un taller dado por la institucion en pos de educar a los apdres y docentes y gente que necesite ayuda.
                        .col-xs-3.item-taller
                            h3 Taller pedagogico
                            p Esta es la descripcion de un taller dado por la institucion en pos de educar a los apdres y docentes y gente que necesite ayuda.
                
