extends layout

block body
    body.informacion

block content
    
    .section-row.section-row--informacion
        .container
            .row
                .col-sm-12
                    h1.title
                        | Información
                        
                .col-sm-12
                    
                    .row
                        
                        .col-sm-6
                            
                            .information-box
                                
                                h4 Teléfonos de ayuda
                                
                                ul
                                    li 
                                        div Gobierno de la ciudad de buenos aires
                                        div 12312313123
                                    li 
                                        div Ministerio anti-bullying
                                        div *321
                                    li 
                                        div Basta de Bullying
                                        div 12312313123
                                        
                        .col-sm-6
                            
                            .information-box
                                
                                h4 Sitios de ayuda anti-bullying
                                
                                ul
                                    li 
                                        div Gobierno de la ciudad de buenos aires
                                        div 
                                            a(href="#") www.lalalala.com
                                    li 
                                        div Gobierno de la ciudad de buenos aires
                                        div 
                                            a(href="#") www.lalalala.com
                                    li 
                                        div Gobierno de la ciudad de buenos aires
                                        div 
                                            a(href="#") www.lalalala.com
                                        
                        .col-sm-6
                            
                            .information-box
                                
                                h4 Teléfonos de la institución
                                
                                ul
                                    li 
                                        div.large Gabinete pedagogico
                                        div.small 12312313123
                                    li 
                                        div.large Dirección
                                        div.small *321
                                    li 
                                        div.large Zarlanga
                                        div.small 12312313123
                        
                        
                    
