extends layout

block body
    body.panel.panel-institucion
        
    .full-opacity
    include popups/usuarios-borrar
    include popups/usuarios-agregar
    include popups/usuarios-editar

block header
    include partials/header-logueado
    
block content
    
    .section-row.section-row--panel-institucion
        .container-fluid
                    
            .row
                
                .col-sm-3
                    .rock
                        h1.title
                            | Panel Institucional
                            
                        ul.side-menu
                            li
                                a.active(href="#") Usuarios
                            li
                                a(href="#") Notificaciones
                            li
                                a(href="#") Situaciones
                            li
                                a(href="#") Contenido general
                            li
                                a(href="#") Alertas
                            li
                                a(href="#") Soporte técnico
                
                .col-sm-9.content-box
            
                    include partials/panel-usuarios
                            
                            
block footer
    include partials/footer-logueado
