extends layout

block body
    body.panel
    
    .full-opacity
    include popups/situacion-crear
    include popups/situacion-ver
    include popups/situacion-comentarios

block header
    include partials/header-logueado
    
block content
    
    .section-row.section-row--panel
        .container
            .row
                .col-sm-12
                    h1.title
                        | Mi Panel
                        
                .col-sm-12
                    
                    .basic-box
                        
                        .box-top
                            h4 
                                | Mis situaciones
                            .btn.add-more.agregar-situacion.open-popup-button(aria-popup=".popup-agregar-situacion")
                                i.glyphicon.glyphicon-plus
                                | Agregar situaciones
                        
                        table
                            tr
                                th Nombre
                                th Descripción
                                th Gravedad
                                th Estado
                                th(style="width:220px;") Acciones
                            
                            tr
                                td Me pegaron
                                td Fui agredido en el patio de la escuela a las 12am cuando...
                                td Alto
                                td Leido
                                td
                                    .btn.ver-ficha.open-popup-button(aria-popup=".popup-ver-situacion") Ver ficha
                                    .btn.btn-blue.open-popup-button(aria-popup=".popup-comentarios") Mensajes
                            tr
                                td Me pegaron
                                td Fui agredido en el patio de la escuela a las 12am cuando...
                                td Alto
                                td Leido
                                td
                                    .btn.ver-ficha Ver ficha
                                    .btn.btn-blue.open-popup-button(aria-popup=".popup-comentarios") Mensajes
                            tr
                                td Me pegaron
                                td Fui agredido en el patio de la escuela a las 12am cuando...
                                td Alto
                                td Leido
                                td
                                    .btn.ver-ficha Ver ficha
                                    .btn.btn-blue.open-popup-button(aria-popup=".popup-comentarios") Mensajes
                            tr
                                td Me pegaron
                                td Fui agredido en el patio de la escuela a las 12am cuando...
                                td Alto
                                td Leido
                                td
                                    .btn.ver-ficha Ver ficha
                                    .btn.btn-blue.open-popup-button(aria-popup=".popup-comentarios") Mensajes
                            tr
                                td Me pegaron
                                td Fui agredido en el patio de la escuela a las 12am cuando...
                                td Alto
                                td Leido
                                td
                                    .btn.ver-ficha Ver ficha
                                    .btn.btn-blue.open-popup-button(aria-popup=".popup-comentarios") Mensajes
                            tr
                                td Me pegaron
                                td Fui agredido en el patio de la escuela a las 12am cuando...
                                td Alto
                                td Leido
                                td
                                    .btn.ver-ficha Ver ficha
                                    .btn.btn-blue.open-popup-button(aria-popup=".popup-comentarios") Mensajes
                            tr
                                td Me pegaron
                                td Fui agredido en el patio de la escuela a las 12am cuando...
                                td Alto
                                td Leido
                                td
                                    .btn.ver-ficha Ver ficha
                                    .btn.btn-blue.open-popup-button(aria-popup=".popup-comentarios") Mensajes
                            tr
                                td Me pegaron
                                td Fui agredido en el patio de la escuela a las 12am cuando...
                                td Alto
                                td Leido
                                td
                                    .btn.ver-ficha Ver ficha
                                    .btn.btn-blue.open-popup-button(aria-popup=".popup-comentarios") Mensajes

                            
block footer
    include partials/footer-logueado
