extends layout

block body
    body.panel.panel-institucion

block header
    include partials/header-logueado
    
block content
    
    .section-row.section-row--panel-institucion
        .container-fluid
                    
            .row
                
                .col-sm-3
                    .rock
                        h1.title
                            | Panel institución
                            
                        ul.side-menu
                            li
                                a.active(href="#") Usuarios
                            li
                                a(href="#") Notificaciones
                            li
                                a(href="#") Situaciones
                            li
                                a(href="#") Contenido general
                            li
                                a(href="#") Alertas
                            li
                                a(href="#") Soporte técnico
                
                .col-sm-9.content-box
            
                    .basic-box
                        
                        .box-top
                            h4 
                                | Lista de usuarios
                            .btn.add-more.agregar-situacion
                                i.glyphicon.glyphicon-plus
                                | Agregar usuario
                        
                        table
                            tr
                                th Nombre
                                th Documento
                                th Grado
                                th Edad
                                th Genero
                                th(style="width:200px;") Acciones
                            
                            tr
                                td Nicolas Galano
                                td 34180977
                                td 4to B
                                td 10
                                td M
                                td
                                    .btn.btn-blue Editar
                                    .btn.btn-red Eliminar
                            tr
                                td Nicolas Galano
                                td 34180977
                                td 4to B
                                td 10
                                td M
                                td
                                    .btn.btn-blue Editar
                                    .btn.btn-red Eliminar
                            tr
                                td Nicolas Galano
                                td 34180977
                                td 4to B
                                td 10
                                td M
                                td
                                    .btn.btn-blue Editar
                                    .btn.btn-red Eliminar
                            tr
                                td Nicolas Galano
                                td 34180977
                                td 4to B
                                td 10
                                td M
                                td
                                    .btn.btn-blue Editar
                                    .btn.btn-red Eliminar
                            tr
                                td Nicolas Galano
                                td 34180977
                                td 4to B
                                td 10
                                td M
                                td
                                    .btn.btn-blue Editar
                                    .btn.btn-red Eliminar
                            tr
                                td Nicolas Galano
                                td 34180977
                                td 4to B
                                td 10
                                td M
                                td
                                    .btn.btn-blue Editar
                                    .btn.btn-red Eliminar
                            tr
                                td Nicolas Galano
                                td 34180977
                                td 4to B
                                td 10
                                td M
                                td
                                    .btn.btn-blue Editar
                                    .btn.btn-red Eliminar
                            tr
                                td Nicolas Galano
                                td 34180977
                                td 4to B
                                td 10
                                td M
                                td
                                    .btn.btn-blue Editar
                                    .btn.btn-red Eliminar
                            tr
                                td Nicolas Galano
                                td 34180977
                                td 4to B
                                td 10
                                td M
                                td
                                    .btn.btn-blue Editar
                                    .btn.btn-red Eliminar
                            
                            
block footer
    include partials/footer-logueado
