extends layout

block body
    body.panel

block content
    
    .section-row.section-row--informacion
        .container
            .row
                .col-sm-12
                    h1.title
                        | Panel
                        
                .col-sm-12
                    
