extends layout

block body
    body.index
            
block content
    
    .section-row.section-head
        .container
            .row
                .col-xs-12
                    .center 
                        img(src="images/logo-header.png")
                    h2.title No Más Bullying
                    h3.subtitle La plataforma de control anti-bullying para instituciones educativas.
                    
                    .social
                        a(target="_blank", href="https://www.facebook.com/No-M%C3%A1s-Bullying-173551566654506")
                            i.fa.fa-facebook
                        a(target="_blank", href="https://twitter.com/NoMas_Bullying_")
                            i.fa.fa-twitter
    
    .section-row.section-top.textos
        .container
            .row    
                .col-xs-12
    
                    h3 Políticas de Privacidad

                    p El presente Política de Privacidad establece los términos en que No más bullying usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su plataforma. Esta compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.

                    h4 Información que es recogida

                    p Nuestra plataforma podrá recoger información personal por ejemplo: Nombre,  información de contacto como  su dirección de correo electrónica e información demográfica. Así mismo cuando sea necesario podrá ser requerida información específica para procesar algún pedido o realizar una entrega o facturación.

                    h4 Uso de la información recogida

                    p Nuestra plataforma emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros productos y servicios.  Es posible que sean enviados correos electrónicos periódicamente a través de nuestra plataforma con información que consideremos relevante para usted o que pueda brindar algún beneficio, estos correos electrónicos serán enviados a la dirección que usted proporcione y podrán ser cancelados en cualquier momento.

                    p No más bullying está altamente comprometido para cumplir con el compromiso de mantener su información segura. Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún acceso no autorizado.

                    h4 Enlaces a Terceros

                    p Esta plataforma pudiera contener enlaces a otros sitios que pudieran ser de su interés. Una vez que usted dé clic en estos enlaces y abandone nuestra plataforma, ya no tenemos control sobre al sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted está de acuerdo con estas.

                    h4 Control de su información personal

                    p En cualquier momento usted puede restringir la recopilación o el uso de la información personal que es proporcionada a nuestro sitio web.  Cada vez que se le solicite rellenar un formulario, como el de alta de usuario, puede marcar o desmarcar la opción de recibir información por correo electrónico.  En caso de que haya marcado la opción de recibir nuestro boletín o publicidad usted puede cancelarla en cualquier momento.

                    p Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con un orden judicial.

                    p "No Más Bullying" se reserva el derecho de cambiar los términos de la presente Políticas de Privacidad en cualquier momento.
    
    
    .section-row.section-lista.hidden
        .container-fluid
            .row
                .col-xs-4
                    h5.title
                        | Llamanos
                    p
                        
                .col-xs-4
                    h5.title
                        | Te informaremos
                        
                .col-xs-4
                    h5.title
                        | Te ayudamos
