extends layout

block body
    body.index
            
block content
    
    .section-row.section-head
        .container
            .row
                .col-xs-12
                    .center 
                        img(src="images/logo-header.png")
                    h2.title No Más Bullying
                    h3.subtitle La plataforma de control anti-bullying para instituciones educativas.
                    
                    .social
                        a(target="_blank", href="https://www.facebook.com/No-M%C3%A1s-Bullying-173551566654506")
                            i.fa.fa-facebook
                        a(target="_blank", href="https://twitter.com/NoMas_Bullying_")
                            i.fa.fa-twitter
    
    .section-row.section-top.textos
        .container
            .row    
                .col-xs-12
    
                    h3.title Términos y Condiciones

                    p Los siguientes términos y condiciones (los "Términos y Condiciones") rigen el uso que usted le dé a esta plataforma y a cualquiera de los contenidos disponibles por o a través de esta plataforma, incluyendo cualquier contenido derivado del mismo. No más bullying("No más bullying" o "nosotros") ha puesto a su disposición esta plataforma. Podemos cambiar los Términos y Condiciones de vez en cuando, en cualquier momento sin ninguna notificación, sólo publicando los cambios en la plataforma. AL USAR ESTA PLATAFORMA, USTED ACEPTA Y ESTÁ DE ACUERDO CON ESTOS TÉRMINOS Y CONDICIONES EN LO QUE SE REFIERE A SU USO DE LA MISMA. Si usted no está de acuerdo con estos Términos y Condiciones, no puede tener acceso al mismo ni usar la plataforma de ninguna otra manera.

                    ol
                        li
                            | Derecho de propiedad: los datos ingresados en la plataforma son de propiedad de la institución que adquirió el servicio, nosotros sólo respaldamos esa información.
                        li
                            | Uso prohibido: Se encuentra prohibida toda divulgación de datos de la plataforma tanto en funcionamiento como datos cargados por la institución que la utilice.
                        li
                            | Registro de usuarios: Toda institución que registre usuarios menores de edad deberá tener la autorización correspondiente de padre, madre, tutor/es, para que los datos del menor puedan ingresarse en la plataforma.

    .section-row.section-lista.hidden
        .container-fluid
            .row
                .col-xs-4
                    h5.title
                        | Llamanos
                    p
                        
                .col-xs-4
                    h5.title
                        | Te informaremos
                        
                .col-xs-4
                    h5.title
                        | Te ayudamos
