
# BEGIN HTACCESS

<IfModule mod_rewrite.c>

RewriteEngine On
ErrorDocument 404 /404.php

RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^panel$ panel-admin.php

RewriteRule ^panel/([a-zA-Z0-9-]*)$ panel-admin.php?tab=$1


</IfModule>

# END HTACCESS
