.section-row.section-row--contact#contacto
    .container
        .row
            .col-sm-7.col-md-6.vertical-align
                h1.title
                    | Contactese con nuestro equipo!
                h5.subtitle
                    | Tenemos un equipo de profecionales enfocados en mejorar nuestra herramienta y ayudar a quienes necesiten contención.
                    
            .col-sm-5
                form#contact-form
                    .form-group.form-group-lg
                        input.form-control(type="text", placeholder="Nombre completo", name="full_name")
                    .form-group.form-group-lg
                        input.form-control(type="email", placeholder="E-mail", name="email")
                    .form-group.form-group-lg
                        textarea.form-control(placeholder="¿Por que te pones en contacto?", rows="9", name="message")
                    button.btn.btn--center.btn--m-t.btn--small
                        i.fa.fa-refresh.fa-spin.fa-fw.hide
                        | SEND
                    #form-response.form-response
                        p.
                            We're glad to hear from you, we'll contact you pretty soon.
