footer
    .navbar.navbar-default
        .container
            a.navbar-brand(href="#",style="background-image: url(images/instituto/logo.png);")
            ul.nav.navbar-nav
                li
                    a.home-link(href="index.html") Home
                li
                    a.informacion-link(href="informacion.html") Información
                li
                    a.contacto-link(href="contacto.html") Contacto
                li
                    a.login-link(href="login.html") Login
                    
            ul.navbar-right.social.clearfix
                li
                    a(target="_blank", href="https://www.facebook.com/")
                        i.fa.fa-facebook
                li
                    a(target="_blank", href="https://twitter.com/")
                        i.fa.fa-twitter
                li
                    a(target="_blank", href="https://www.instagram.com/")
                        i.fa.fa-instagram


script(src='js/vendor.js')
script(src='js/' + js_app)
