footer
    .navbar.navbar-default
        .container
            a.navbar-brand(href="#")
                img(alt="We Do Web", src="images/header-navbar-logo.png", srcset="images/header-navbar-logo@2x.png 2x")
            ul.nav.navbar-nav
                li
                    a.home-link(href="index.html") HOME
                li
                    a.informacion-link(href="informacion.html") INFORMACIÓN
                li
                    a.contacto-link(href="contacto.html") CONTACTO
                li
                    a.login-link(href="login.html") LOGIN
                    
            ul.navbar-right.social.clearfix
                li
                    a(target="_blank", href="https://www.facebook.com/")
                        i.fa.fa-facebook
                li
                    a(target="_blank", href="https://twitter.com/")
                        i.fa.fa-twitter
                li
                    a(target="_blank", href="https://www.instagram.com/")
                        i.fa.fa-instagram


script(src='js/vendor.js')
script(src='js/' + js_app)
