nav.navbar.navbar-default.navbar-fixed-top#top-nav
    .container
        .navbar-header
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbarMenu", aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar.top-bar
                span.icon-bar.middle-bar
                span.icon-bar.bottom-bar
            a.navbar-brand(href="index.html")
                //img(alt="No Mas Bullying", src="images/header-navbar-logo@2x.png", srcset="images/header-navbar-logo@2x.png 2x")
        
        .collapse.navbar-collapse#navbarMenu
            
            ul.nav.navbar-nav
                li
                    a.home-link(href="index.html") HOME
                li
                    a.collaborators-link(href="#") INFORMACIÓN
                li
                    a.portfolio-link(href="#") LOGIN
