.basic-box.usuarios
    
    .box-top
        h4 
            | Lista de usuarios
        .btn.add-more.agregar-usuario.open-popup-button(aria-popup=".popup-agregar-usuarios")
            i.glyphicon.glyphicon-plus
            | Agregar usuario
    
    table
        tr
            th Nombre
            th Documento
            th Grado
            th Edad
            th Genero
            th(style="width:200px;") Acciones
        
        tr
            td Nicolas Galano
            td 34180977
            td 4to B
            td 10
            td M
            td
                .btn.btn-blue.open-popup-button(aria-popup=".popup-editar-usuarios") Editar
                .btn.btn-red.open-popup-button(aria-popup=".popup-borrar-usuario") Eliminar
        tr
            td Nicolas Galano
            td 34180977
            td 4to B
            td 10
            td M
            td
                .btn.btn-blue Editar
                .btn.btn-red Eliminar
        tr
            td Nicolas Galano
            td 34180977
            td 4to B
            td 10
            td M
            td
                .btn.btn-blue Editar
                .btn.btn-red Eliminar
        tr
            td Nicolas Galano
            td 34180977
            td 4to B
            td 10
            td M
            td
                .btn.btn-blue Editar
                .btn.btn-red Eliminar
        tr
            td Nicolas Galano
            td 34180977
            td 4to B
            td 10
            td M
            td
                .btn.btn-blue Editar
                .btn.btn-red Eliminar
        tr
            td Nicolas Galano
            td 34180977
            td 4to B
            td 10
            td M
            td
                .btn.btn-blue Editar
                .btn.btn-red Eliminar
        tr
            td Nicolas Galano
            td 34180977
            td 4to B
            td 10
            td M
            td
                .btn.btn-blue Editar
                .btn.btn-red Eliminar
        tr
            td Nicolas Galano
            td 34180977
            td 4to B
            td 10
            td M
            td
                .btn.btn-blue Editar
                .btn.btn-red Eliminar
        tr
            td Nicolas Galano
            td 34180977
            td 4to B
            td 10
            td M
            td
                .btn.btn-blue Editar
                .btn.btn-red Eliminar
        
