
.popup.popup-ver-situacion
    
    .popup-close
        i.glyphicon.glyphicon-remove
            
    .popup-top
        h5 Ver Situación
        
    .popup-content
        
        .situacion-item.titulo
            span Titulo:
            b "Me pegaron"
            
        .situacion-item.descripcion
            span Descripción:
            b Fui agredido en el patio de la escuela a las 12am cuando unos chicos se rieron de mis zapatillas y me empujaron, me lastime el codo y me tuve que ir de la escuela.
        
        .situacion-item.involucrados
            span Agresor/es:
            b 
                i Matias Gomez
                i Pablo Emilio Gaviria.
                
        .situacion-item.involucrados
            span Victima/s:
            b 
                i Nicolino Roche
                
        .situacion-item.gravedad.alto
            span Nivel de gravedad de la situación:
            b Alto
            
        .situacion-item.status
            span Status:
            b Leido

        
