
.popup.popup-comentarios
    .popup-close
        i.glyphicon.glyphicon-remove
    .popup-top
        h5 Comentarios
        
    .popup-content
        
        .comentarios
            ul
                li.clearfix
                    p Que onda amigo todo mal esto, los rompo todo.
                    span 10/10/2018 14:54hs
                li.clearfix.mio
                    p Que onda amigo todo mal esto, los rompo todo.
                    span 10/10/2018 14:54hs
                li.clearfix
                    p Que onda amigo todo mal esto, los rompo todo.
                    span 10/10/2018 14:54hs
                li.clearfix.mio
                    p Que onda amigo todo mal esto, los rompo todo.
                    span 10/10/2018 14:54hs
                li.clearfix
                    p Que onda amigo todo mal esto, los rompo todo.
                    span 10/10/2018 14:54hs
                li.clearfix.mio
                    p Que onda amigo todo mal esto, los rompo todo.
                    span 10/10/2018 14:54hs
                li.clearfix
                    p Que onda amigo todo mal esto, los rompo todo.
                    span 10/10/2018 14:54hs
                li.clearfix.mio
                    p Que onda amigo todo mal esto, los rompo todo.
                    span 10/10/2018 14:54hs
                li.clearfix
                    p Que onda amigo todo mal esto, los rompo todo.
                    span 10/10/2018 14:54hs
                li.clearfix
                    p Que onda amigo todo mal esto, los rompo todo.
                    span 10/10/2018 14:54hs
        
        form
            .form-group.form-group-lg
                textarea.form-control(placeholder="Cometario", rows="9", name="message")
            button.btn.btn--center.btn--m-t
                i.fa.fa-refresh.fa-spin.fa-fw.hide
                | Enviar

        
