footer {
  background-color: $footer-default-bg;
  padding: 50px 0;

    @media (min-width: $screen-sm-min) {
        padding: 50px 0 50px;
    }
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    box-shadow: none !important;
  }

  .navbar-default .social{
    padding-top:21px;
  }

  .navbar-brand {

  }
  @media (max-width: $screen-xs-max) {
    .container {
      padding: 0;
    }
    .navbar-brand {
      float: none;
      margin: 0 auto;
      display: block;
      width: 45px;
    }
    .navbar-nav {
        display:none;
      position: relative;
      right: 0;
      margin: 0 auto;
      width: 422px;
      float: none;

      li {
        float: left;
      }
    }
    .navbar-default {
      .social {
        display: block;
        width: 121px;
        margin: 10px auto 0;
      }
    }
  }

  @media (max-width: 456px) {
    .navbar-default {
      .navbar-nav {
        width: 100%;
        li {
          float: none;

          a {
            text-align: center;
          }
        }
      }
    }
  }
}
