footer
    .navbar.navbar-default
        .container
            
            p
                | &copy; 2018 NoMasBullying.com.ar <a target="_blank" href="http://demo.nomasbullying.com.ar">DEMO ONLINE</a> <a target="_blank" href="politicas-de-privacidad.html">Políticas de privacidad</a> <a target="_blank" href="terminos-y-condiciones.html">Términos y Condiciones</a>
                    
            ul.navbar-right.social.clearfix
                li
                    a(target="_blank", href="https://www.facebook.com/No-M%C3%A1s-Bullying-173551566654506")
                        i.fa.fa-facebook
                li
                    a(target="_blank", href="https://twitter.com/NoMas_Bullying_")
                        i.fa.fa-twitter


script(src='js/vendor.js')
script(src='js/' + js_app)
