nav.navbar.navbar-default.navbar-fixed-top#top-nav
    .container-fluid
        .navbar-header
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbarMenu", aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar.top-bar
                span.icon-bar.middle-bar
                span.icon-bar.bottom-bar
            a.navbar-brand(href="index.html",style="background-image: url(images/instituto/logo.png);")
